mat-card {
    max-width: 900px;
    margin: 24px;
}

td {
    padding-right: 10px !important;
}

mat-radio-button {
    display: block;
}

.mat-table {
    margin: 10px;
}

mat-card-title {
    padding: 10px;
    color: #3f51b5ed;
}
[hidden] {
    display: none !important;
  }